[Unit]
Description=Node exporter container
After=docker.service docker.socket
Wants=docker.service docker.socket

[Service]
Environment="HOME=/home/cloudservice"

ExecStart=/usr/bin/docker run \
            --rm \
            --name=node-exporter \
            --net=host \
            --pid=host \
            -v "/:/host:ro,rslave" \
            ${node_exporter_image} \
                --web.listen-address=0.0.0.0:${node_exporter_port} \
                --path.rootfs=/host

ExecStartPost=/sbin/iptables -A INPUT -p tcp -m tcp --dport ${node_exporter_port} -j ACCEPT

ExecStop=/usr/bin/docker stop node-exporter
ExecStopPost=/usr/bin/docker rm node-exporter

TimeoutStopSec=30
